(vercel) {
	tls {
		dns vercel {env.VERCEL_API_TOKEN}
	}
}
feeds.bsky.sh {
	@eepy {
		expression path_regexp('/xrpc/app.bsky.feed.getFeedSkeleton') && {query}.matches('.+?whos-eepy.*')	
        }
	@alice {
		expression path_regexp('/xrpc/app.bsky.feed.getFeedSkeleton') && {query}.matches('.+?whos-alice.*')	
        }
	@well-known {
		expression path_regexp('/.well-known.*')
	}
	handle @eepy {
		reverse_proxy :30001
	}

	handle @alice {
		reverse_proxy :30000
	}
	handle @well-known {
		reverse_proxy :30000
	}

	import vercel
	log {
		output file {env.LOG_FILE}
	}
}
